/**

 * @name Bob
 * @version 1.0
 * @description Heavily borrowed theme.
 * @source This theme was edited using https://gibbu.me/editor/minimalcord

**/



@import url("https://cdn.discordapp.com/attachments/729185721771884623/730214854991806464/style_part03.css");
@import url('https://gibbu.github.io/BetterDiscord-Themes/MinimalCord/base.css');
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/base.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/addons/bottomhsl.css');
@import url('https://tropix126.github.io/BetterDiscordStuff/materialcons/base.css');

:root {
  --accent: #585e74;
  --search-results-width: 25vw;
  --emoji-picker-height: 260px;
  --chat-message-padding: 20px;
  --chat-message-spacing: 22px;
  --font: 'Roboto';
  /*--HSL-server-icon-size: 25px;
  --HSL-server-spacing: 15px;*/
  
  
  --foreground-1: #252831;
  --foreground-2: #21232b;
  --foreground-divider: #dadada;
  --background-1: #30333d;
  --background-2: #292b34;
  --box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
  --scrollbar: rgb(53, 55, 63, 0.5);
  --tooltips: #2d323c;
  --pages-box: var(--message-box);
  --pages-box-footer: #191b20;
  --pages-separator: rgba(255, 255, 255, 0.05);
  --user-popout: var(--dropdown);
  --user-popout-body: #1a1c22;
  --user-popout-message: #15171c;
  --settings-box: var(--message-box);
  --settings-box-hover: #16191d;
  --settings-box-footer: #171a1f;
  --settings-input: #131519;
  --settings-paginator: rgba(0, 0, 0, 0.2);
  --settings-separator: rgba(255, 255, 255, 0.05);
  --dropdown: #1e2127;
  --dropdown-header: #252830;
  --dropdown-item-hover: #22262d;
  --message-box: #292b34;
  --message-box-divider: #292b34;
  --message-embed: #171a1f;
  --message-button: #2d323c;
  --server-background: #1e2127;
  --server-hovered: #292b34;
  --server-selected: #22262d;
  --server-folders: var(--server-background);
  --search-filter-hover: #22262d;
  --search-result-header: #1e2127;
  --channel-hovered-bg: #292b34;
  --channel-selected-bg: #585e74;
  --channel-unread-bg: transparent;
  --channel-selected-text: var(--text-1);
  --channel-unread-text: var(--text-2);
  --channel-muted-text: var(--text-dark);
  --channel-hovered-text: var(--text-1);
  --modal-connection: var(--background-1);
  --modal-list: #15171c;
  --modal-badge-invert: invert(0);
  --modal-bg1-search: var(--search-filter-hover);
  --text-1: #fff;
  --text-2: #c9c9c9;
  --text-3: #999a9b;
  --text-4: #717173;
  --text-dark: #565759;
  
  
}

#app-mount .cozyMessage-3V1Y8y {
    border-radius: 8px;
    /*box-shadow: 0px 0px 4px #1d1f2187;*/
}


code:not(.inline) {
	max-width: 90ch;
	border-radius: 8px;
	background-color: #30333d !important;
	padding: 12px;
	border: none !important;
}
#app-mount code.inline {
	border-radius: 8px;
	padding: 4px 4px;
	background-color: #30333d !important;
}

[class*="markup"][class*="messageContent"] {
	margin-top: -2px;
	padding-top: 2px;
	margin-bottom: -2px;
	padding-bottom: 2px;
}

.mentionsBadge-7f5lud {
	display: block !important;
}

code {
	background-color: #30333d !important;
}

.avatar-1BDn8e {
    border-radius: 12px;
}

/* discord icon (top-left) */
svg[class*="homeIcon-"] path {
	color: #585e74 !important;
}

/* unread server indicator */
.pill-31IEus .item-2hkk8m {
	background-color: #9ce5c0 !important;
}

/* hide unread channel indicator */
.unread-3zKkbm {
	display: none !important;
}

#channels,
[class*="guilds-"] > div {
	overflow-y: auto !important;
}
