! X colors.
*foreground:        #a2a4a6
*background:        #191919
*.foreground:       #a2a4a6
*.background:       #191919
emacs*foreground:   #a2a4a6
emacs*background:   #191919
URxvt*foreground:   #a2a4a6
XTerm*foreground:   #a2a4a6
UXTerm*foreground:  #a2a4a6
URxvt*background:   [100]#191919
XTerm*background:   #191919
UXTerm*background:  #191919
URxvt*cursorColor:  #a2a4a6
XTerm*cursorColor:  #a2a4a6
UXTerm*cursorColor: #a2a4a6
URxvt*borderColor:  [100]#191919

! Colors 0-15.
*.color0: #191919
*color0:  #191919
*.color1: #1f2c31
*color1:  #1f2c31
*.color2: #24323c
*color2:  #24323c
*.color3: #343434
*color3:  #343434
*.color4: #2d3f43
*color4:  #2d3f43
*.color5: #394f55
*color5:  #394f55
*.color6: #4c514c
*color6:  #4c514c
*.color7: #a2a4a6
*color7:  #a2a4a6
*.color8: #46494d
*color8:  #46494d
*.color9: #1f2c31
*color9:  #1f2c31
*.color10: #24323c
*color10:  #24323c
*.color11: #343434
*color11:  #343434
*.color12: #2d3f43
*color12:  #2d3f43
*.color13: #394f55
*color13:  #394f55
*.color14: #4c514c
*color14:  #4c514c
*.color15: #a2a4a6
*color15:  #a2a4a6

! Black color that will not be affected by bold highlighting.
*.color66: #191919
*color66:  #191919

! Xclock colors.
XClock*foreground: #a2a4a6
XClock*background: #191919
XClock*majorColor:  rgba:a2/a4/a6/ff
XClock*minorColor:  rgba:a2/a4/a6/ff
XClock*hourColor:   rgba:a2/a4/a6/ff
XClock*minuteColor: rgba:a2/a4/a6/ff
XClock*secondColor: rgba:a2/a4/a6/ff

! Set depth to make transparency work.
URxvt*depth: 32
