* {
  accent:           #607d8b;
  background:       #282c34;
  background-light: #4f5869;
  foreground:       #bdbdbd;
  on:               #66bb6a;
  off:              #ef5350;
}

window {
    border : 4;
    border-color:     #607d8b;
}
