* {
  accent:           #83a598;
  background:       #1D2021;
  background-light: #303030;
  foreground:       #ebdbb2;
  on:               #44ad4d;
  off:              #fb4934;
}

window {
    border : 4;
    border-color:     #877c66;
}
