* {
    background:                     #191919;
    background-alt:                 #24323Cff;
    foreground:                     #A2A4A6cc;
    border:		            #394F55ff;
    border-alt:               	    #88c0d0ff;
    selected:               	    #394F55;
    urgent:                         #b48eadFF;
}
